/* general styles */

body {
    margin: 0;
    font-family: "Exo 2", sans-serif !important;
    background-image: url("/img/bg-stars-1280.jpg");
    background-size: cover;
}

body::before {
    background-image: url("/img/Pattern_Dark.png");
    opacity: 1.0;
    z-index: -1;
}

* {
    box-sizing: border-box;
}
/* Navbar Start*/

.nav {
    height: 50px;
    width: 100%;
    background-color: #212121;
    position: sticky;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #007EFCFF;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #007EFCFF;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
/* End Navbar Styles*/
/*BODY STYLE START*/

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid gold; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #007EFCFF;
}
.about-me {
    width: 70%;
    border: #007EFCFF;
    border-style: solid none solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1em;
}

.content-projects{
    object-position: center;
    color: #007EFCFF;
}

article {
    --img-scale: 1.001;
    --title-color: #007EFCFF;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border: 1px #007EFCFF;
    border-radius: 16px;
    box-shadow: none;
    background: transparent;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
    border: 1px solid #007EFCFF;
}

/* basic article elements styling */
article h2 {
    margin: 0 0 18px 0;
    font-family: "Exo 2", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #007EFCFF;
}

article a:focus {
    outline: 1px dotted #007EFCFF;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #007EFCFF;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*body {*/
/*    margin: 0;*/
/*    padding: 48px 0;*/
/*    font-family: "Figtree", sans-serif;*/
/*    font-size: 1.2rem;*/
/*    line-height: 1.6rem;*/
/*    background-image: linear-gradient(45deg, #7c9885, #b5b682);*/
/*    min-height: 100vh;*/
/*}*/

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

@media screen and (max-width: 960px) {
    article {
        container: card/inline-size;
    }
    .article-body p {
        display: none;
    }
}

@container card (min-width: 380px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }
    .article-body {
        padding-left: 0;
    }
    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/*END BODY STYLE*/

/* footer styles */

.footer {
    background-color: #212121;
    height: auto;
    /*padding-top: 10px;*/
    text-align: center;
}

.footer p {
    color: #007EFCFF;
    font-weight: bold;
    font-size: 16px;
}

.social-links a {
    color: white;
    padding: 0 5px 0 5px;
}

.social-links a:hover {
    color: #ff6363;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* smaller resolution styles */

@media (min-width: 100px) and (max-width: 500px) {
    .fa-bars {
        display: block !important;
    }

    .header-links {
        display: none;
    }
}
